/* About */

.about-img {
  background-image: url("../images/matt.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}

/* Contact */

ion-icon {
  font-size: 64px;
}
