/* General Overrides */
h1 {
  visibility: hidden;
}

h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: 0.8em;
  display: inline-block;
  background-color: white;
  padding: 0.5rem;
}

/* Header */

.hero {
  max-width: 80%;
}

/* Body */

section:nth-of-type(even) {
  background-color: #1b1b1b;
}

.work-img,
video {
  max-width: 80%;
  display: block;
  margin: auto;
  border: 3px solid white;
  margin-top: 2rem;
}

.work-img + p {
  margin-top: 2rem;
}

.work-item-img {
  height: 15rem;
}

.work-item-img .work-content {
  opacity: 1;
}

.work-item-img h3 {
  color: black;
  font-weight: bold;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica,
    Arial, "Lucida Grande", sans-serif;
  background-color: transparent;
  padding: 0;
  display: block;
  margin-bottom: 0.2rem;
}
