.about-img {
  background-image: url('../images/matt.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}

@media (max-width: 575px) {
  .contact-links {
    flex-wrap: wrap;
  }
  .contact-links a:first-child {
    width: 100%;
  }
}
