/* Work Item */

.work-item-img {
  height: 15rem;
  position: relative;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}

.work-item-img h3,
.work-item-img h5,
.work-item-img small {
  color: black;
  margin-bottom: 0.5rem;
}

.work-item-img .work-content {
  opacity: 1;
  transition: opacity 0.3s ease;
  text-align: right;
}

.work-item-img:hover .work-content {
  opacity: 1;
}

.work-content h3,
.work-content h5,
.work-item-img small {
  z-index: 2;
  position: relative;
}

.work-accent {
  background-color: rgba(250, 250, 250, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.85;
  z-index: 1;
}

@media (min-width: 992px) {
  .work-item-img .work-content {
    opacity: 0;
  }
}

.work-description {
  border: 15px solid;
}
